<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <title>LSMG - Home</title>
        <style>* { margin: 0; padding: 0; box-sizing: border-box; }</style>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto&family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@500&family=Ubuntu&display=swap" rel="stylesheet">
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </head>
    <body style="background-color: #1d1d1d;">
        <div class="screen"></div>
        <div class="inputsWithJS"></div>
        <script>const page = '<%- page %>';let infos;</script>
        <script src="./js/verifyLogin.js"></script>
        <script src="./js/infosInteplet.js"></script>
        <script src="./js/screenSome.js"></script>
        <script src="./js/sendMessage.js"></script>
    </body>
</html>