<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <title>Carregando...</title>
        <style>* { margin: 0; padding: 0; box-sizing: border-box; }</style>
    </head>
    <body style="background-color: #1d1d1d; display: flex; justify-content: center; align-items: center; height: 100vh;">
        <script>const page = '<%- page %>';</script>
        <script src="./js/verifyLogin.js"></script>
    </body>
</html>